/* #region SET UP SNIPPET START */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #endregion SETUP SNIPPET END */
/* #region BASE STYLES START */
.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

section {
  margin-bottom: 50px;
}

main {
  margin-top: 50px;
}

/* #endregion BASE STYLES END */
body {
  background-color: #0D1321;
  color: #f0ebd8;
}

.headerContainer {
  background-color: #1D2D44;
  box-shadow: #3e5c76 0px -50px 36px -28px inset;
}

button {
  background-color: #748cab;
  color: black;
}

button:hover,
:focus {
  background-color: #0D1321;
  color: white;
  border: 1px solid gold;
  text-decoration: none;
}

input:hover,
:focus {
  background-color: white;
  border: none;
  color: black;
  text-decoration: none;
}

.signInCard {
  border: 1px solid #0D1321;
  background-color: #3e5c76;
}

.footerLink,
.exclamation,
.removeButton {
  color: gold;
}

.footerLink:hover,
:focus {
  color: goldenrod;
  text-decoration: underline;
}

.workoutCard {
  background-color: #3e5c76;
  box-shadow: -10px 10px 15px #748cab;
}

/* #region TYPOGRAPHY STYLES START */
html {
  font-size: 125%;
}

body {
  font-size: 0.9rem;
}

h1,
h2,
img,
ul,
li,
a,
input,
label,
select,
option {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

p,
li,
a,
option,
label {
  letter-spacing: 0.7px;
  line-height: 30px;
}

/* #endregion TYPOGRAPHY STYLES END */
/* #region Media Queries START */
@media (max-width: 950px) {
  .backgroundImage {
    top: 600px;
  }
  .navBarContainer .navBarUl {
    width: 100%;
    padding: 10px;
    justify-content: center;
  }
  .descriptionSection {
    flex-direction: column-reverse;
    width: 100%;
    align-items: baseline;
    justify-content: baseline;
  }
  .descriptionSection .descriptionFlexParent,
.descriptionSection .apiFlexParent {
    width: 90%;
    margin-bottom: 20px;
  }
  .exerciseFormDropdown {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-wrap: wrap;
  }
  .formFlexChild1,
.formFlexChild2,
.formFlexChild3,
.formFlexChild4 {
    width: calc(50% - 80px);
    margin-bottom: 30px;
  }
  .workoutCard .liftListItem {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .navBarContainer .navBarUl {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .navBarContainer .navBarUl .linkToAccount, .navBarContainer .navBarUl .mainLogOut {
    margin: 0;
  }
  .navBarContainer .navBarUl .navList {
    flex-direction: column;
  }
  .mainLogOut {
    margin: 0;
  }
  h1 {
    font-size: 2rem;
  }
  .headerContainer {
    text-align: center;
  }
  .backgroundImage {
    display: none;
  }
  .lineBreak::before {
    content: "\a";
    white-space: pre;
  }
  .exerciseContainer {
    padding: 20px 10px;
    box-shadow: -5px 10px 8px #000000;
    border-radius: 40px;
  }
  .exerciseContainer .workoutCard {
    width: 90%;
  }
  .formFlexChild1,
.formFlexChild2,
.formFlexChild3,
.formFlexChild4 {
    width: calc(100% - 80px);
    margin-bottom: 30px;
  }
}
/* #endregion MEDIA QUERIES END */
/* #region  HEADER STYLES START*/
.mainHeader {
  height: 30vh;
}
.mainHeader .headerContainer {
  display: flex;
  height: 100%;
  width: 95%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 91% 9% 82% 18%/13% 70% 30% 87%;
}

/* #endregion HEADER STYLES END*/
/* #region NAV BAR STYLES START */
.navBarContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navBarUl {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
  width: 50%;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navList .currentUser {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.navList .currentUser span:first-of-type {
  border-bottom: 1px solid gold;
}

.mainLogOut {
  height: 3rem;
  margin-left: 15px;
  border-radius: 40px;
  text-align: center;
}

.linkToAccount {
  margin-right: 15px;
  padding: 10px;
  background-color: #748cab;
  color: black;
  border-radius: 40px;
  text-align: center;
}
.linkToAccount a {
  color: black;
  text-decoration: none;
}

/* #endregion NAV BAR STYLES END */
/* #region SIGN IN/UP COMPONENT STYLES START */
.signInCard {
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  padding: 25px;
  max-width: 700px;
}

.imageContainer {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.backgroundImage {
  position: absolute;
  top: 500px;
  z-index: -10;
  width: auto;
  max-width: 90%;
}

.ecgContainer {
  max-width: 200px;
  margin: 0 auto;
  margin-top: 30px;
}

.ecgSprint {
  width: 100%;
}

/* #endregion SIGN IN/UP COMPONENT STYLES END*/
.descriptionSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descriptionFlexParent {
  border: 1px solid black;
  width: 45%;
  text-align: center;
  border-radius: 91% 9% 82% 18%/13% 70% 30% 87%;
  padding: 25px;
  background-color: #1D2D44;
  box-shadow: #0D1321 0px -23px 25px 0px inset, #1D2D44 0px -36px 30px 0px inset, #3e5c76 0px -79px 40px 0px inset, #748cab 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.apiFlexParent {
  border: 1px solid black;
  width: 45%;
  text-align: center;
  border-radius: 91% 9% 82% 18%/13% 70% 30% 87%;
  padding: 25px;
  background-color: #1D2D44;
  box-shadow: #0D1321 0px -23px 25px 0px inset, #1D2D44 0px -36px 30px 0px inset, #3e5c76 0px -79px 40px 0px inset, #748cab 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.quotation {
  color: gold;
}

/* #region FORM / INPUT STYLES START */
form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

label {
  text-align: center;
}

.signIn {
  height: 50px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.signInButton {
  border-radius: 10px;
  height: 50px;
}

.anonymous::before,
.anonymous::after {
  content: " | ";
}

/* #endregion FORM / INPUT STYLES END */
/* #region SELECT FORM STYLES START */
.exerciseFormDropdown {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.formFlexChild1,
.formFlexChild2,
.formFlexChild3,
.formFlexChild4 {
  margin: 0px 40px;
  width: calc(25% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exerciseLabel {
  width: 100%;
  margin-bottom: 5px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border: none;
}

option {
  padding: 10px;
}

.exerciseTitle {
  text-align: center;
}

/* #endregion SELECT FORM STYLES END */
/* #region ACCOUNTS PAGE STYLE (public/private) START */
.accountPageTitle {
  margin-top: 50px;
}
.accountPageTitle h3 {
  margin-left: 50px;
}

.accountPage {
  border: 1px solid red;
  display: flex;
}

.workoutItem {
  transition: all 0.3s ease-out;
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: center;
  border: 2px solid orange;
  height: 200px;
}

.workoutItemExpand {
  transition: all 0.6s ease-in-out;
  transform: scale(1.2);
  height: 500px;
  width: 500px;
  max-width: 60vw;
  max-height: 60vh;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: red;
  background-color: #0D1321;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.hideExerciseList {
  display: none;
}

.showExerciseList {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  color: pink;
}

/* #endregion ACCOUNT PAGE STYLES END */
/* #region ADD EXERCISE FORM STYLES START */
.addLiftForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addLiftInput {
  margin: 10px 0;
  padding: 10px;
  border-radius: 30px;
  border: none;
}

/* #endregion ADD EXERCISE FORM STYLES END */
/* #region GET EXERCISE STYLES START */
.workoutCard {
  margin: 0 auto;
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 91% 9% 88% 12%/9% 88% 12% 91%;
  margin-top: 20px;
}
.workoutCard ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.liftListItem {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeButton {
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 10px;
  border: none;
  background-color: unset;
}

/* #endregion GET EXERCISE STYLES END */
footer {
  text-align: center;
}/*# sourceMappingURL=App.css.map */