/* #region TYPOGRAPHY STYLES START */
html {
    font-size: 125%;
}

body {
    font-size: 0.9rem;
}

h1,
h2,
img,
ul,
li,
a,
input,
label,
select,
option {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 800;
}

p,
li,
a,
option,
label {
    letter-spacing: 0.7px;
    line-height: 30px;
}

/* #endregion TYPOGRAPHY STYLES END */